* {
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: black
}

.game-container {
  height: 90vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  text-align: center;
  width: 1000px;
  border-bottom: solid 1px #444444;
}

.message-container {
  height: 50px;
  margin-top: 10px;
}

.grid-container {
  width: 330px;
  margin: 20px;
}

.grid-container .tile-row {
  display: flex;
}

.grid-container .tile {
  width: 65px;
  height: 65px;
  border: 2px solid;
  border-color: #444444;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 2px;
  font-size: xx-large;
  font-weight: bolder;
  background-color: black;
}

.message-container .message {
  background-color: #444444;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}

.key-container {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
}

.key-container button {
  width: 43px;
  height: 55px;
  border-radius: 4px;
  border: none;
  background-color: #818384;
  color: white;
  margin: 4px;
}

.key-container button:nth-child(11) {
  margin-left: 30px;
}
.key-container button:nth-child(20), 
.key-container button:nth-child(28) {
  width: 68px;
}